*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Stílus */
body {
    background-image: url(kepek/background.jpg);
}

h1 {
    font-family: 'Mountains of Christmas', serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer {
    font-weight: bold;
}

main {
    color: white;
}

p{
    padding-bottom: 15px;
}

.film{
    text-align: center;
    background-color: rgb(3, 79, 32);
    border: solid white 1pt;
}

.home{
    text-align: center;
    background-color: rgb(3, 79, 32);
    border: solid white 1pt;
    margin-left: 30px;
}

aside{
    background-color: rgb(3, 79, 32);
    border: solid white 1pt;
    padding-left: 15px;
    padding-right: 15px;
}

footer{
    text-align: center;
    background-color: rgb(3, 79, 32);
    border: solid white 1pt;
}

/* Menü */
nav{
    padding: 5px;
    background-color: rgb(3, 79, 32);
}

nav ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

nav li {
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
    border-left: solid white 1px;
}

nav a {
    text-decoration: none;
    color:white;
    padding: 10px;
}

nav a:hover {
    background-color: #ddd;
    background-image: url(kepek/background.jpg);
  }


/* Szerkezet */
main {
    margin: auto;
    width: 90%;
    max-width: 900px;
    display: grid;
    grid-template-areas: 
        "h h"
        "n n" 
        "a s"
        "f f";
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

article {
    grid-area: a;
}

aside {
    grid-area: s;
}

footer {
    grid-area: f;
}


/* Telefon */
@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    main {
        font-size: 10px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "h"
            "n"
            "a"
            "s"
            "f";
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr;
        list-style: none;
        text-align: center;
    }

    article {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    aside{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        height: 100px;
    }
}