*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(kepek/background.jpg);
}

h1 {
    font-family: 'Mountains of Christmas', serif;
    font-weight: bold;
    text-align: center;
}

footer {
    font-weight: bold;
}

/* Menü */
nav li {
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
    margin-right: 15px; /* Opcionális térköz a menüpontok között */
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul {
    list-style: none;
    padding: 0;
  }

nav a:hover {
    background-color: #ddd;
    font-family: "Christmas", sans-serif;
    background-image: url(kepek/background.jpg);
  }


/* Szerkezet */

main {
    margin: auto;
    width: 90%;
    max-width: 900px;
    display: grid;
    grid-template-areas: 
        "h h"
        "n n" 
        "a s"
        "f f";
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

article {
    grid-area: a;
}

aside {
    grid-area: s;
}

footer {
    grid-area: f;